<% layout('dashboard') %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <a href="/event">Create New Event</a>
      <!-- <button type="Create"class="btn btn-success"><li><i class="fa-li fa fa-spinner fa-spin"></i></button> -->
      </div>
  <div class="large-12 medium-12 columns">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Our Events</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive project-stats">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>

              <%for(i=0; i<events.length; i++) { %>
              <tr>
                <!-- got rid of the array meta here.reason;unnecessary -->
                <!-- remove meta array -->
                <th scope="row"><%= [i+1] %></th>
                <td><%= events[i].title %></td>
                <td><%= events[i].venue %></td>
                <td><%= events[i].date %></td>
                <td><%= events[i].time %></td>
                <td><%= events[i].desc %></td>
                <td><span class="label label-info">Pending</span></td>

                <td>
                  <a class="button" data-dropdown="autoCloseExample" aria-controls="autoCloseExample"
                      aria-expanded="false">Action &raquo;</a>
                  <ul id="autoCloseExample" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">
                    <li><a href="/update">Update</a></li>
                    <li><a href="delete">Delete</a></li>
                  </ul>

                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
