<% layout('dashboard') %>

<div class="dashboard-top-section">
  <div class="row">
    <div class="large-6 columns">
      <!-- flash messages section -->
      <% include ../partials/flash.ejs %>
      <!-- flash messages section ends -->
    </div>
    <div class="large-6 columns">
      <!-- Create event button section -->
      <a class="large button success right " href="/admin/events/new">Create Event</a>
      <!-- create event button section ends -->
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Our Events</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive project-stats">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% events.forEach(function(event, index){ %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= event.title %></td>
                <td><%= event.venue %></td>
                <td><%= event.date %></td>
                <td><%= event.time %></td>
                <td><%= event.desc %></td>
                <td><span class="label label-info">Pending</span></td>
                <td>
                  <ul class="options">
                    <li><a href="/admin/events/edit/<%= event.slug %>" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></li>
                    <li><a href="/admin/events/delete/<%= event.slug %>" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
