<% layout('dashboard') %>
<div class="row">
<div class="large-6 large-offset-6 columns">
<a class="large button success right" href="/events/new">Create Event</a>
</div>
  <div class="large-12 medium-12 columns">
    <div class="panel panel-white">
      <div class="panel-heading">
        <h4 class="panel-title">Our Events</h4>
      </div>
      <div class="panel-body">
        <div class="table-responsive project-stats">
          <table style="width: 100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% events.forEach(function(event, index){ %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= event.title %></td>
                <td><%= event.venue %></td>
                <td><%= event.date %></td>
                <td><%= event.time %></td>
                <td><%= event.desc %></td>
                <td><span class="label label-info">Pending</span></td>
                <td>
                  <li><a href="/events/edit/<%= event._id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                  <li><a href="/events/delete/<%= event._id %>"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
