<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="panel panel-white">
      <h2>Hello !</br></h2>
      <h3>Welcome to the Admin dashboard.</h3>
      <!--loops are costly, they slow down everything, use them only when neccessary -->
      <h2>You have <%= events.length %> upcoming events.</br></h2>
      <div class="row">
        <div class="large-12 medium-12 columns">
          <div class="panel panel-white">
            <div class="panel-heading">
              <h4 class="panel-title">Events</h4>
            </div>
            <div class="panel-body">
              <div class="table-responsive project-stats">
                <table style="width: 100%">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Venue</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Description</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--for each loop is more suited for this job and much easy to read than for loop -->
                    <% events.forEach(function(event, index){ %>
                    <tr>
                      <th scope="row"><%= index + 1%></th>
                      <td><%= event.title %></td>
                      <td><%= event.venue %></td>
                      <td><%= event.date %></td>
                      <td><%= event.time %></td>
                      <td><%= event.desc %></td>
                      <td><span class="label label-info">Pending</span></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
